.vscode
models
data/mfc
data/semeval
data/glove
data/explainability
data/frameaxis/mfc/
data/frameaxis/semeval/
data/srls/
.ipynb_checkpoints
.pyo
.pyc
.env
data/srls/mfc/mfc_labeled.pkl
**.pyc
**.wandb
**.log
